 <div class="container">
        <div class="row">
            <div class="col-md-6 text-center">
                <a id="text" ui-sref="login">Login</a>
            </div>
            <div class="col-lg-6 text-center">
                <a id="text" ui-sref="signup">SignUp</a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row new">
            <h1 class="text-center">Sign Up</h1>
            <input  type="text" name="names" placeholder=" Enter the Name" ng-model="signinlist.names" required> <br> <br>
            <input  type="email" name="username" placeholder="Enter the Email"  ng-model="signinlist.email"required> <br><br>
            <input  type="password" name="pass" placeholder="Enter the Password" id="accountNo" ng-model="signinlist.password"required> <br> <br> 
            <button class="btn btn-danger navbar-btn" ng-click="click()">SignUp</button>
        </div>
        </div>
    </div>